html{
  scroll-behavior: smooth;
}

body{
  background-color: #d6ebf2;
}

a.Skip {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.Skip:focus, a.Skip:active {
    color: #fff;
    background-color:#334045;
    left: auto;
    top: auto;
    width: 20%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

#nav_bar ul li a.active-page{
  background-color: rgba(255,255,255,0.7);
  padding: 15px 15px 15px 15px;
}

nav li{
  display:inline;
  padding-right:10px;

}

nav a{
  color: #2B2D2F;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}

nav{
  background-color: #add8e6;
  padding: 25px 0;
  text-align: left;
  vertical-align: middle;
}

a:hover {
  text-decoration:underline;
}

@-webkit-keyframes logo_slide{
  from {margin-left: : -100%;
        width: 300%;}
  to {margin-left: 0%;
  width:100%;}
}

@keyframes logo_slide{
  from {margin-left: : -100%;
        width: 300%;}
  to {margin-left: 0%;
  width:100%;}
}

#Name{
  animation-name:logo_slide;
  animation-duration: 3s;
  font-family: 'Dancing Script', cursive;
  font-size: 72px;
  text-align: center;
}

header>h2{
  font-size: 40px;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
}

footer{
  background-color: #add8e6;
  padding-top: 5px;
  text-align: center;
  position: fixed;
  bottom:0;
  width: 100%;
  font-size: 15px;
}

.container{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  grid-row-gap: 20px;
}


.flip-card {
  margin:auto;
  background-color: transparent;
  width: 580px;
  height: 400px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  justify-content: center;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front>img{
  border-radius: 8px;
  boder: 5px solid #566c73;
  position:relative;
}

.arrow>img{
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 580px;
  height: 400px;
  border-radius: 8px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  border-radius: 8px;
  background-color: #566c73;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back >h1{
  font-size: 40px;
}

.flip-card-back>p{
  font-size: 20px;
}


@media screen and (min-width: 900px){

  .container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
}

nav{
  text-align: right;
}

#Name{
  padding-top: 150px;
  font-size: 100px;
}

.flip-card{
  padding-top: 200px;
}

header>h2{
  padding-top: 50px;
}


@media(prefers-reduced-motion: reduce) {
  #Name{
    animation: none;
  }
}
